#left {
  top: 75px;
  left:-8.33%;
  text-align: left;
  float: left;
  width:45%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:45%;
}
